# JSON exercise

Download the data from [**here**](https://drive.google.com/file/d/1DGaX5AVfYhmWeb15lI-MzUbSKTYSz9fQ/view?usp=sharing) and answer following questions:
1. Find the 10 countries with most projects
2. What are top 10 sectors with projects?
3. Find the top 10 major project themes (using column 'mjtheme_namecode')
4. In 3. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [1]:
import pandas as pd
import json

In [2]:
with open('C:/Users/Tim/Desktop/lighthouse/w2/d3/Other_data_types_exercise/world_bank_projects.json') as wbp:
    nestedwbp = json.load(wbp)

In [3]:
from pandas.io.json import json_normalize  
y = json_normalize(nestedwbp)

<ipython-input-3-42de5db7be14>:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  y = json_normalize(nestedwbp)

In [4]:
#y.head(5)

In [5]:
#for col in y.columns:
#    print(col)

In [6]:
#Find the 10 countries with most projects
y.groupby('countryname')['id'].count().nlargest(10)

countryname
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Kingdom of Morocco                 12
Nepal                              12
People's Republic of Bangladesh    12
Africa                             11
Republic of Mozambique             11
Name: id, dtype: int64

In [7]:
#What are top 10 sectors with projects?
y.groupby('sector1.Name')['id'].count().nlargest(10)

sector1.Name
Central government administration                        48
Rural and Inter-Urban Roads and Highways                 34
Health                                                   33
General agriculture, fishing and forestry sector         32
Other social services                                    30
Sub-national government administration                   19
General public administration sector                     16
Primary education                                        16
General water, sanitation and flood protection sector    12
Forestry                                                 11
Name: id, dtype: int64

In [8]:
#Find the top 10 major project themes (using column 'mjtheme_namecode')
themes = json_normalize(nestedwbp,record_path='mjtheme_namecode',meta='project_name')
themes

<ipython-input-8-eea409fdab4a>:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  themes = json_normalize(nestedwbp,record_path='mjtheme_namecode',meta='project_name')

,code,name,project_name
0,8,Human development,Ethiopia General Education Quality Improvement...
1,11,,Ethiopia General Education Quality Improvement...
2,1,Economic management,TN: DTF Social Protection Reforms Support
3,6,Social protection and risk management,TN: DTF Social Protection Reforms Support
4,5,Trade and integration,Tuvalu Aviation Investment Project - Additiona...
...,...,...,...
1494,10,Rural development,Sustainable Management of Agricultural Researc...
1495,9,Urban development,KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...
1496,8,Human development,KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...
1497,5,Trade and integration,KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...
1498,4,Financial and private sector development,KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...

In [9]:
for col in themes.columns:
    print(col)

code
name
project_name

In [10]:
themes['name'].value_counts().head(10)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [11]:
#In 3. above you will notice that some entries have only the code and the name is missing. 
#Create a dataframe with the missing names filled in.

themes['code']=themes['code'].map(lambda x: int(x))
themes=themes.set_index('code')

In [12]:
themes.sort_values(by=['code']).groupby(['code'])['name'].head(11)

code
1
1                              Economic management
1                              Economic management
1                              Economic management
1
                          ...
11
11    Environment and natural resources management
11    Environment and natural resources management
11    Environment and natural resources management
11    Environment and natural resources management
Name: name, Length: 121, dtype: object

In [13]:
import numpy as np
names = themes['name'].sort_index().unique()
names = np.delete(names,[0])
codedict = {}
for i, name in enumerate(names,start=1):
    codedict[i]=name

In [14]:
names

array(['Economic management', 'Public sector governance', 'Rule of law',
       'Financial and private sector development',
       'Trade and integration', 'Social protection and risk management',
       'Social dev/gender/inclusion', 'Human development',
       'Urban development', 'Rural development',
       'Environment and natural resources management'], dtype=object)

In [15]:
codedict

{1: 'Economic management',
 2: 'Public sector governance',
 3: 'Rule of law',
 4: 'Financial and private sector development',
 5: 'Trade and integration',
 6: 'Social protection and risk management',
 7: 'Social dev/gender/inclusion',
 8: 'Human development',
 9: 'Urban development',
 10: 'Rural development',
 11: 'Environment and natural resources management'}

In [18]:
#themes

In [19]:
themes['nametest']=themes.index.map(codedict)

In [20]:
#obviously you would replace name with the new values; proof of concept, nametest = name
themes

,name,project_name,nametest
code,,,
8,Human development,Ethiopia General Education Quality Improvement...,Human development
11,,Ethiopia General Education Quality Improvement...,Environment and natural resources management
1,Economic management,TN: DTF Social Protection Reforms Support,Economic management
6,Social protection and risk management,TN: DTF Social Protection Reforms Support,Social protection and risk management
5,Trade and integration,Tuvalu Aviation Investment Project - Additiona...,Trade and integration
...,...,...,...
10,Rural development,Sustainable Management of Agricultural Researc...,Rural development
9,Urban development,KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...,Urban development
8,Human development,KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...,Human development
5,Trade and integration,KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...,Trade and integration
4,Financial and private sector development,KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...,Financial and private sector development