# Prediction of sales

### Problem Statement
[The dataset](https://drive.google.com/file/d/1B07fvYosBNdIwlZxSmxDfeAf9KaygX89/view?usp=sharing) represents sales data for 1559 products across 10 stores in different cities. Also, certain attributes of each product and store are available. The aim is to build a predictive model and find out the sales of each product at a particular store.

|Variable|Description|
|: ------------- |:-------------|
|Item_Identifier|Unique product ID|
|Item_Weight|Weight of product|
|Item_Fat_Content|Whether the product is low fat or not|
|Item_Visibility|The % of total display area of all products in a store allocated to the particular product|
|Item_Type|The category to which the product belongs|
|Item_MRP|Maximum Retail Price (list price) of the product|
|Outlet_Identifier|Unique store ID|
|Outlet_Establishment_Year|The year in which store was established|
|Outlet_Size|The size of the store in terms of ground area covered|
|Outlet_Location_Type|The type of city in which the store is located|
|Outlet_Type|Whether the outlet is just a grocery store or some sort of supermarket|
|Item_Outlet_Sales|Sales of the product in the particulat store. This is the outcome variable to be predicted.|

Please note that the data may have missing values as some stores might not report all the data due to technical glitches. Hence, it will be required to treat them accordingly.



### In following weeks, we will explore the problem in following stages:

1. Hypothesis Generation – understanding the problem better by brainstorming possible factors that can impact the outcome
2. Data Exploration – looking at categorical and continuous feature summaries and making inferences about the data.
3. Data Cleaning – imputing missing values in the data and checking for outliers
4. Feature Engineering – modifying existing variables and creating new ones for analysis
5. Model Building – making predictive models on the data

## 1. Hypothesis Generation

This is a very pivotal step in the process of analyzing data. This involves understanding the problem and making some hypothesis about what could potentially have a good impact on the outcome. This is done BEFORE looking at the data, and we end up creating a laundry list of the different analysis which we can potentially perform if data is available.

#### Possible hypotheses
##### Store Level Hypotheses:

1. City type: Stores located in urban or Tier 1 cities should have higher sales because of the higher income levels of people there.
2. Population Density: Stores located in densely populated areas should have higher sales because of more demand.
3. Store Capacity: Stores which are very big in size should have higher sales as they act like one-stop-shops and people would prefer getting everything from one place
4. Competitors: Stores having similar establishments nearby should have less sales because of more competition.
5. Marketing: Stores which have a good marketing division should have higher sales as it will be able to attract customers through the right offers and advertising.
6. Location: Stores located within popular marketplaces should have higher sales because of better access to customers.
7. Customer Behavior: Stores keeping the right set of products to meet the local needs of customers will have higher sales.
8. Ambiance: Stores which are well-maintained and managed by polite and humble people are expected to have higher footfall and thus higher sales.

##### Product Level Hypotheses:

1. Brand: Branded products should have higher sales because of higher trust in the customer.
2. Packaging: Products with good packaging can attract customers and sell more.
3. Utility: Daily use products should have a higher tendency to sell as compared to the specific use products.
4. Display Area: Products which are given bigger shelves in the store are likely to catch attention first and sell more.
5. Visibility in Store: The location of product in a store will impact sales. Ones which are right at entrance will catch the eye of customer first rather than the ones in back.
6. Advertising: Better advertising of products in the store will should higher sales in most cases.
7. Promotional Offers: Products accompanied with attractive offers and discounts will sell more.

Think further and create some of your own. Remember that the data might not be sufficient to test all of these, but forming these enables a better understanding of the problem.

## 2. Data Exploration
Perform some basic data exploration here and come up with some inferences about the data. Try to figure out some irregularities and address them in the next section.

In [4]:
import pandas as pd
import numpy as np

#Read files:
data = pd.read_csv("C:/Users/Tim/Desktop/lighthouse/w3/d3/data_preparation_exercise/regression_exercise.csv", delimiter=',')

**Task:** One of the key challenges in any data set is missing values. Lets start by checking which columns contain missing values.

In [5]:
n_missing = data.isnull().sum().sort_values(ascending=False)
p_missing = (data.isnull().sum()/data.isnull().count()).sort_values(ascending=False)
missing = pd.concat([n_missing, p_missing],axis=1, keys = ['number','percent'])
missing

                           number   percent
Outlet_Size                  2410  0.282764
Item_Weight                  1463  0.171653
Item_Outlet_Sales               0  0.000000
Outlet_Type                     0  0.000000
Outlet_Location_Type            0  0.000000
Outlet_Establishment_Year       0  0.000000
Outlet_Identifier               0  0.000000
Item_MRP                        0  0.000000
Item_Type                       0  0.000000
Item_Visibility                 0  0.000000
Item_Fat_Content                0  0.000000
Item_Identifier                 0  0.000000

**Task:**: Look at some basic descriptive statistics for numerical variables.

Make some observations: <br>
Do min, max values make sense?

In [6]:
data.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [ ]:
"""
weight looks fine
item visibility looks fine
MRP = maximum retail price, looks reasonable
outlet year good
outlet sales might have a bit of an outlier
"""

**Task:** Moving to nominal (categorical) variable, lets have a look at the number of unique values in each of them.

In [9]:
cat_cols = ["Item_Fat_Content", "Item_Type", "Outlet_Identifier", "Outlet_Location_Type", "Outlet_Type", "Outlet_Size"]

for i in cat_cols:
    print(data[i].unique())

['Low Fat' 'Regular' 'low fat' 'LF' 'reg']
['Dairy' 'Soft Drinks' 'Meat' 'Fruits and Vegetables' 'Household'
 'Baking Goods' 'Snack Foods' 'Frozen Foods' 'Breakfast'
 'Health and Hygiene' 'Hard Drinks' 'Canned' 'Breads' 'Starchy Foods'
 'Others' 'Seafood']
['OUT049' 'OUT018' 'OUT010' 'OUT013' 'OUT027' 'OUT045' 'OUT017' 'OUT046'
 'OUT035' 'OUT019']
['Tier 1' 'Tier 3' 'Tier 2']
['Supermarket Type1' 'Supermarket Type2' 'Grocery Store'
 'Supermarket Type3']
['Medium' nan 'High' 'Small']

In [14]:
for i in cat_cols:
    print("{}: {}".format(i,data[i].nunique()))

Item_Fat_Content: 5
Item_Type: 16
Outlet_Identifier: 10
Outlet_Location_Type: 3
Outlet_Type: 4
Outlet_Size: 3

**Task:** How many products are there, how many stores, item types?

**Task:** Explore the numbers of each categorical variable

In [ ]:
#16*5 products?(item type * item fat content), 10 stores, 16 item types

Observe the output:

Tip: look at the unique values of `Item_Fat_Content`

## 3. Data Cleaning

This step typically involves imputing missing values and treating outliers.

### Imputing Missing Values

**Task:** Which variables have missing values? How can you fill those values? Think of some suitalbe strategy (zero filling, mean, median values. Maybe mean values per `Item_Type`?)

In [15]:
n_missing = data.isnull().sum().sort_values(ascending=False)
p_missing = (data.isnull().sum()/data.isnull().count()).sort_values(ascending=False)
missing = pd.concat([n_missing, p_missing],axis=1, keys = ['number','percent'])
missing

                           number   percent
Outlet_Size                  2410  0.282764
Item_Weight                  1463  0.171653
Item_Outlet_Sales               0  0.000000
Outlet_Type                     0  0.000000
Outlet_Location_Type            0  0.000000
Outlet_Establishment_Year       0  0.000000
Outlet_Identifier               0  0.000000
Item_MRP                        0  0.000000
Item_Type                       0  0.000000
Item_Visibility                 0  0.000000
Item_Fat_Content                0  0.000000
Item_Identifier                 0  0.000000

In [26]:
cols_with_missing = missing[missing.percent > 0].index.tolist()
data.dtypes[cols_with_missing]

Outlet_Size     object
Item_Weight    float64
dtype: object

In [17]:
data.groupby("Item_Type")['Item_Weight'].mean()

Item_Type
Baking Goods             12.277108
Breads                   11.346936
Breakfast                12.768202
Canned                   12.305705
Dairy                    13.426069
Frozen Foods             12.867061
Fruits and Vegetables    13.224769
Hard Drinks              11.400328
Health and Hygiene       13.142314
Household                13.384736
Meat                     12.817344
Others                   13.853285
Seafood                  12.552843
Snack Foods              12.987880
Soft Drinks              11.847460
Starchy Foods            13.690731
Name: Item_Weight, dtype: float64

In [28]:
data['Item_Weight'] = data.groupby("Item_Type").transform(lambda x: x.fillna(x.mean))
#df['value'] = df['value'].fillna(df.groupby('name')['value'].transform('mean'))

In [33]:
data[['Outlet_Size','Outlet_Type']].head(20)

   Outlet_Size        Outlet_Type
0       Medium  Supermarket Type1
1       Medium  Supermarket Type2
2       Medium  Supermarket Type1
3          NaN      Grocery Store
4         High  Supermarket Type1
5       Medium  Supermarket Type2
6         High  Supermarket Type1
7       Medium  Supermarket Type3
8          NaN  Supermarket Type1
9          NaN  Supermarket Type1
10      Medium  Supermarket Type1
11       Small  Supermarket Type1
12      Medium  Supermarket Type1
13       Small  Supermarket Type1
14        High  Supermarket Type1
15       Small  Supermarket Type1
16      Medium  Supermarket Type2
17      Medium  Supermarket Type1
18      Medium  Supermarket Type3
19       Small  Supermarket Type1

In [32]:
data['Outlet_Size'].unique()

array(['Medium', nan, 'High', 'Small'], dtype=object)

In [34]:
data['Outlet_Size']=data['Outlet_Size'].fillna("Empty")

**Task:** Check if there are no more missing values

In [35]:
n_missing = data.isnull().sum().sort_values(ascending=False)
p_missing = (data.isnull().sum()/data.isnull().count()).sort_values(ascending=False)
missing = pd.concat([n_missing, p_missing],axis=1, keys = ['number','percent'])
missing

                           number  percent
Item_Outlet_Sales               0      0.0
Outlet_Type                     0      0.0
Outlet_Location_Type            0      0.0
Outlet_Size                     0      0.0
Outlet_Establishment_Year       0      0.0
Outlet_Identifier               0      0.0
Item_MRP                        0      0.0
Item_Type                       0      0.0
Item_Visibility                 0      0.0
Item_Fat_Content                0      0.0
Item_Weight                     0      0.0
Item_Identifier                 0      0.0